# 선배님이 주신 예제

Debug/
Release/
obj/
bin/
*.bak

*.hex
*.eep
*.cof
*.elf
*.map
*.lss
*.srec
*.mp
*.pbi
*.link

.atmelstart/
*.componentinfo
*.atdf
.atmelstart.config
*.vhd
*.vhd.bak
*.componentinfo.xml

.vs/
.vscode/
*.suo
*.user
*.ncb
*.pidb
*.userprefs

.DS_Store
Thumbs.db


# 내 추가

*.mp4
*.pptx
*신입생*
*2026*

.sync-exclude.lst

Repo_struct.txt

